websockets==15.0.1
langchain==0.3.27
langchain-anthropic==0.3.19
langchain-openai==0.3.25
langgraph
sqlalchemy==2.0.36
librosa==0.11.0
pydantic==2.11.7
aiohttp==3.11.11
openai==1.60.2
pandas==2.2.3
sentence-transformers==3.3.1
